body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(234, 207, 176);
}

nav{
    text-align: center;
}

nav ul {
    list-style: none;  
    margin: 0;
    padding: 0;
}

nav ul li {
   margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #6b4e31;
}


.hero{
    background: url("hero-image.jpg") no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 30px;
}

.btn{
    padding: 12px 25px;
    background-color: #6b4e31;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section{
    padding: 50px 20px;
    text-align: center;
}

section h2{
    font-size: 35px;
    margin-bottom: 20px;
}

section p{
    font-size: 18px;
}

footer{
    background-color: #6b4e31;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.hero, .about-img, .menu-img, .services-img, .contact-img{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
}

.gallery-grid{
    gap: 20px;
    justify-content: center;
}

.gallery-grid img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.team-grid{
    justify-content: center;
    gap: 30px;
}

.team-member{
    text-align: center;
}

.team-member img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.menu ul{
    list-style: none;
}

.faq{
    list-style: none;
    text-align: center;
}
